<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem id="society_management" name="Society"/>

    <menuitem id="society_management_user" name="User" action="action_society_user" parent="society_management" sequence="1"/>

    <menuitem id="tenant" name="Tenant" parent="society_management" sequence="2"/>
    <menuitem id="tenants" name="Tenant" parent="tenant" action="action_society_tenant"/>
<!--    <menuitem id="rent" name="Rent" parent="tenant" action=""/>-->

    <menuitem id="apart" name="Apartment" parent="society_management" sequence="3"/>
    <menuitem id="tower" name="Tower" parent="apart" action="action_society_tower"/>
    <menuitem id="floor" name="Floor" parent="apart" action="action_society_floor"/>
    <menuitem id="apartment" name="Apartment" parent="apart" action="action_society_apartment"/>
    <menuitem id="parking" name="Parking" parent="apart" action="action_society_parking"/>

    <menuitem id="society_management_settings" name="Settings" parent="society_management" sequence="100"/>
    <menuitem id="society_management_app_settings" name="App Settings" action="action_society_settings" parent="society_management_settings"/>
    <menuitem id="society_management_society_settings" name="Society Settings" action="action_society_society_settings" parent="society_management_settings"/>
    <menuitem id="society_management_apartment_type_settings" name="Apartment Type Settings" action="action_apartment_type_settings" parent="society_management_settings"/>
    <menuitem id="society_management_asset_category_settings" name="Asset Category Settings" action="action_asset_category_settings" parent="society_management_settings"/>
</odoo>