<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem id="society_management" name="Society"/>
    <menuitem id="society_management_user" name="User" action="action_society_user" parent="society_management"
              sequence="1" groups="society_management.group_society_admin"/>/>
    <menuitem id="owner" name="Owner" action="action_society_owner" parent="society_management" sequence="2"/>

    <menuitem id="tenant" name="Tenant" parent="society_management" sequence="3"/>
    <menuitem id="tenants" name="Tenant" parent="tenant" action="action_society_tenant"/>
    <menuitem id="rent" name="Rent" parent="tenant" action="action_society_rent"/>

    <menuitem id="apart" name="Apartment" parent="society_management" sequence="4"/>
    <menuitem id="tower" name="Tower" parent="apart" action="action_society_tower"
              groups="society_management.group_society_admin"/>/>
    <menuitem id="floor" name="Floor" parent="apart" action="action_society_floor"
              groups="society_management.group_society_admin"/>/>
    <menuitem id="apartment" name="Apartment" parent="apart" action="action_society_apartment"/>
    <menuitem id="parking" name="Parking" parent="apart" action="action_society_parking"/>

    <menuitem id="amenities" name="Amenities" parent="society_management" sequence="5"/>
    <menuitem id="amenity" name="Amenities" parent="amenities" action="action_society_amenities"/>
    <menuitem id="book_amenity" name="Book Amenities" parent="amenities" action="action_society_book_amenities"/>

    <menuitem id="bills" name="Bills" parent="society_management" sequence="6"/>
    <menuitem id="utility" name="Utility Bills" parent="bills" action="action_society_utility"/>
    <menuitem id="common" name="Common Area Bills" parent="bills" action="action_society_common"/>
    <menuitem id="maintenance" name="Maintenance" parent="bills" action="action_society_maintenance"/>

    <menuitem id="offline" name="Offline Request" parent="society_management" action="action_society_offline"
              sequence="7"/>
    <menuitem id="menu_assets" name="Assets" parent="society_management" sequence="7"/>
    <menuitem id="assets" name="Assets" parent="menu_assets" action="action_society_assets"/>
    <menuitem id="schedule" name="Maintenance Schedule" parent="menu_assets" action="action_society_m_schedule"/>
    <menuitem id="issue" name="Issue Report" parent="menu_assets" action="action_society_issue_report"/>

    <menuitem id="tickets" name="Tickets" parent="society_management" action="action_society_ticket"/>
    <menuitem id="menu_notice" name="Notice Board" parent="society_management" action="action_society_notice_board"/>
    <menuitem id="menu_visitors" name="Visitors" parent="society_management" action="action_society_visitors"/>
    <menuitem id="menu_events" name="Events" parent="society_management" action="action_society_events"/>

    <menuitem id="menu_report" name="Report" parent="society_management"/>
    <menuitem id="report" name="Maintenance Report" parent="menu_report" action="action_society_reports"/>

    <menuitem id="menu_services" name="Services" parent="society_management"/>
    <menuitem id="add_services" name="Add Services" parent="menu_services" action="action_society_service_lines"
              sequence="1"/>
    <menuitem id="services" name="Services" parent="menu_services" action="action_society_maid_services"/>
    <menuitem id="services_lines" name="Services Lines" parent="menu_services" action="action_society_maid_services"/>


    <menuitem id="society_management_settings" name="Settings" parent="society_management" sequence="100"
              groups="society_management.group_society_admin"/>/>
    <menuitem id="society_management_app_settings" name="App Settings" action="action_society_settings"
              parent="society_management_settings"/>
    <menuitem id="society_management_society_settings" name="Society Settings" action="action_society_society_settings"
              parent="society_management_settings"/>
    <menuitem id="society_management_apartment_type_settings" name="Apartment Type Settings"
              action="action_apartment_type_settings" parent="society_management_settings"/>
    <menuitem id="society_management_asset_category_settings" name="Asset Category Settings"
              action="action_asset_category_settings" parent="society_management_settings"/>
    <menuitem id="society_management_bill_type_settings" name="Bill Type Settings" action="action_bill_type_settings"
              parent="society_management_settings"/>
    <menuitem id="society_management_ticket_type_settings" name="Ticket Type Settings"
              action="action_ticket_type_settings" parent="society_management_settings"/>
    <menuitem id="society_management_currency_settings" name="Currency Settings" action="action_currency_settings"
              parent="society_management_settings"/>
    <menuitem id="society_management_maintenance_settings" name="Maintenance Settings"
              action="action_maintenance_settings" parent="society_management_settings"/>
    <menuitem id="society_management_visitor_settings" name="Visitor Settings" action="action_visitor_type_settings"
              parent="society_management_settings"/>
</odoo>