<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <record id="view_settings_form" model="ir.ui.view">
        <field name="name">settings</field>
        <field name="model">society.settings</field>
        <field name="arch" type="xml">
            <form string="settings">
                <field name="name"/>
            </form>
        </field>
    </record>


    <record id="action_society_settings" model="ir.actions.act_window">
        <field name="name">settings</field>
        <field name="res_model">society.settings</field>
        <field name="view_mode">form</field>
        <field name="view_id" ref="view_settings_form"/>
    </record>
</odoo>